package account

templ SignupForm() {
  <form hx-post="/signup" hx-target="#content" id="signup-form">
    <input id="signup-username" type="text" name="username" placeholder="Username...">
    <input id="signup-password" type="text" name="password" placeholder="Password...">
    <input id="signup-confirm-password" type="text" name="confirm-password" placeholder="Confirm Password...">
    <button id="signup-submit-button" type="submit">Submit</button>
  </form>
}
