package views

import (
  "time"
)

templ WeekTaskList(data map[int]*TaskGroupViewData, startDay time.Time) { 
  <div id="dashboard-week-of-tasks" class="fill-parent dashboard-default-borders">
    for i := range 7 {
      <div class="dashboard-day-of-tasks-container">@DayTaskList(*data[(int(startDay.Weekday()) + i) % 7])</div>
    }
  </div>
}
