package addtaskform

import (
  "local/taskmanager/internal/task"
  "time" 
)

templ AddTaskForm(partial task.Task, categories []string) {
  <form hx-post="/add-task" hx-target="#content" hx-on::load="registerCategorySuggestions()" id="add-form">
    <input 
      id="add-form-title" 
      type="text" 
      name="title" 
      placeholder="Title..." 
      autofocus
      required>

    <input 
      id="add-form-description" 
      class="add-form-optional-input" 
      type="text" 
      name="description" 
      placeholder="Description...">

    if partial.Category == "" {
      <input 
        id="add-form-category" 
        class="add-form-optional-input" 
        type="text" 
        name="category" 
        placeholder="Category...">
    } else {
      <input 
        id="add-form-category" 
        class="add-form-optional-input" 
        type="text" 
        name="category" 
        value={partial.Category}>
    }

    <div id="add-form-category-suggestions">
      for _, category := range categories {
        <div class="add-form-category-suggestion">{category}</div>
      }
    </div>

    if partial.DueDate.IsZero() {
      <input 
        id="add-form-due-date" 
        class="add-form-optional-input" 
        type="date" 
        name="due-date">
    } else {
      <input 
        id="add-form-due-date" 
        class="add-form-optional-input" 
        type="date" 
        name="due-date" 
        value={time.Time(partial.DueDate).Format("2006-01-02")}>
    }

    <input 
      id="add-form-all-day-toggle" 
      class="add-form-optional-input" 
      type="checkbox" 
      name="all-day" 
      hx-get="/toggle-time/add-task" 
      hx-trigger="change" 
      hx-target="#add-form-time-input" 
      hx-swap="innerHTML" 
      checked>Any time

    <div id="add-form-time-input"></div>

    <input 
      id="add-form-recurring-toggle"
      class="add-form-optional-input" 
      type="checkbox" 
      name="recurring" 
      hx-get="/toggle-recurring/add-task" 
      hx-trigger="change" 
      hx-target="#add-form-recurring-period-input" 
      hx-swap="innerHTML">

    <div id="add-form-recurring-period-input"></div>

    <button id="add-form-submit-button" type="submit">Submit</button>

    // @templ.JSONScript("add-form-category-autocomplete-data", categories)
  </form>
}
