package dashboard

import (
  "local/taskmanager/internal/task"
  "fmt" 
)

templ CategoryTasks(tasks task.TaskList, unixDate int64, class string) {
{{
  if class == "" {
    class = "dashboard-category fill-parent"
  } else {
    class = fmt.Sprintf("%s dashboard-category fill-parent", class) 
  }
}}

  <div class={class}>
    <div class="dashboard-category-header-container">@CategoryHeader(tasks[0].Category, unixDate)</div>
    <div class="dashboard-list-items-container">
    for _, task := range tasks {
      <div class="dashboard-list-item-container">@ListItem(task, defaultTask)</div>
    }
    </div>
  </div>
}
