package dashboard

import (
  "local/taskmanager/internal/task"
  "fmt" 
)

templ CategoryTasks(tasks task.TaskList, unixDate int64, class string) {
  <div class={fmt.Sprintf("%s fill-parent", class)}>
    <div>@CategoryHeader(tasks[0].Category, unixDate)</div>
    for _, task := range tasks {
      <div>@ListItem(task, defaultTask)</div>
    }
  </div>
}
