package dashboard 

import (
  "fmt"
  "time"
)

templ CategoryHeader(category string, unixDate int64) {
  <div class="dashboard-category-banner fill-parent">
    <div class="dashboard-category-header">{category}</div>
    if unixDate > 0 {
      <div class="dashboard-category-add-button">@AddTaskButton(fmt.Sprintf("/add-task-form?due-date=%s&category=%s", time.Unix(unixDate, 0).Format("2006-01-02"), category))</div> 
    } else {
      <div class="dashboard-category-add-button">@AddTaskButton(fmt.Sprintf("/add-task-form?category=%s", category))</div> 
    }
  </div>
}
