package dashboard 

import (
  "local/taskmanager/internal/views"
  "local/taskmanager/internal/task"
)

var defaultTask task.Task

templ Index(pi views.PageInfo) {
  <div id="dashboard" class="fill-parent">
    <div id="dashboard-side-panel">
      <div>@OverdueTasks(pi.OverdueTasks)</div>
      <div>@UnscheduledTasks(pi.UnscheduledTasks)</div>
      <div>@CategoryTasks(pi.FavCategoryTasks, 0, "dashboard-fav-category-tasks")</div>
    </div>
    <div id="dashboard-main-panel">
      @WeekTaskList(pi)
    </div>
  </div>
}
