package dashboard 

import (
  "local/taskmanager/internal/views"
  "local/taskmanager/internal/task"
)

var defaultTask task.Task

templ Index(pi views.PageInfo) {
  <div id="dashboard" class="fill-parent">
    <div id="dashboard-side-panel">
      <div id="dashboard-overdue-container">@OverdueTasks(pi.OverdueTasks)</div>
      <div id="dashboard-unscheduled-container">@UnscheduledTasks(pi.UnscheduledTasks)</div>
      // <div id="dashboard-fav-container">@FavCategoryTasks(pi.FavCategoryTasks)</div>
    </div>
    <div id="dashboard-main-panel">
      @WeekTaskList(pi)
    </div>
  </div>
}
