package dashboard

import (
  "local/taskmanager/internal/task"
  "fmt"
)

  // {{onRightClick := templ.ComponentScript{CallInline: fmt.Sprintf(`event.preventDefault(); htmx.ajax('GET', '/toggle-complete?task-id=%d', {target: this});`, t.ID)}}}
templ ListItem(t, newTask task.Task) {
  {{var completedClass string}}
  if t.Done {
    {{completedClass = " completed-task"}}
  }

  <div 
    class={fmt.Sprintf("dashboard-list-item fill-parent div-button%s", completedClass)}
    tabindex="0"
    role="button"
    hx-get={fmt.Sprintf("/task?id=%d", t.ID)}
    hx-trigger="click"
    hx-target="#content"
    hx-on:contextmenu={templ.JSUnsafeFuncCall(fmt.Sprintf("event.preventDefault(); htmx.ajax('GET', '/toggle-complete?id=%d', { target: this, swap: 'outerHTML' })", t.ID))}
    hx-on::load={templ.JSUnsafeFuncCall("setTimeout(() => { if (this.classList.contains('completed-task')) { parent = this.parentNode.parentNode; this.parentNode.remove(); setTimeout(() => { if (parent.children.length == 1) { parent.remove() }}, 0)}} , 5000)")}
  >{t.Title}</div>

  if !newTask.IsZero() {
    // query the database to get the daily tasks for newTask.DueDate
    // update DayTaskList to accept a (swap bool) arg.
    // swap it using hx-swap-oob="outerHTML"
  }
}
