package dashboard

import (
  "local/taskmanager/internal/task"
  "fmt"
)

  // {{onRightClick := templ.ComponentScript{CallInline: fmt.Sprintf(`event.preventDefault(); htmx.ajax('GET', '/toggle-complete?task-id=%d', {target: this});`, t.ID)}}}
templ ListItem(t, newTask task.Task) {
  {{var completedClass string}}
  if t.Done {
    {{completedClass = " completed-task"}}
  }
  {{onRightClick := templ.JSUnsafeFuncCall(fmt.Sprintf("event.preventDefault(); htmx.ajax('GET', '/toggle-complete?id=%d', { target: this, swap: 'outerHTML' })", t.ID))}}


  <div 
    class={fmt.Sprintf("dashboard-list-item fill-parent div-button%s", completedClass)}
    tabindex="0"
    role="button"
    hx-get={fmt.Sprintf("/task?id=%d", t.ID)}
    hx-trigger="click"
    hx-target="#content"
    hx-on:contextmenu={onRightClick}
  >{t.Title}</div>

  if !newTask.IsZero() {
    // query the database to get the daily tasks for newTask.DueDate
    // update DayTaskList to accept a (swap bool) arg.
    // swap it using hx-swap-oob="outerHTML"
  }
}
