package dashboard

import (
  "local/taskmanager/internal/task"
  "slices"
)

templ OverdueTasks(taskMap map[string]task.TaskList) {
  {{
    var sortedCategories []string
    for k := range taskMap {
      sortedCategories = append(sortedCategories, k)
    }
    slices.Sort(sortedCategories)
  }}
  <div class="dashboard-overdue-tasks dashboard-tasks-container fill-parent">
    <div class="dashboard-tasks-title-header-container">
      <div class="dashboard-tasks-title-header">Overdue</div>
    </div>
    <div class="dashboard-categories-container">
    for _, category := range sortedCategories {
      <div class="dashboard-category-container">@CategoryTasks(taskMap[category], 0, "")</div>
    }
    </div>
  </div>
}
