package dashboard

import "local/taskmanager/internal/task"

templ OverdueTasks(tasks task.TaskList) {
  {{var currentCategory string}}
  <div class="dashboard-overdue-tasks fill-parent">
    <div class="dashboard-tasks-title-header">Overdue</div>
    for _, task := range tasks {
      if currentCategory != task.Category {
        {{currentCategory = task.Category}}
        <div>@CategoryHeader(task.Category, 0)</div>
      }

      <div>@ListItem(task)</div>
    }
  </div>
}
