:root {
  --default-border: 1px solid white;
  --default-border-radius: 15px;
}

#dashboard {
  row-gap: 5vh;
}

.dashboard-default-borders {
  border: var(--default-border);
  border-radius: var(--default-border-radius);
}

#dashboard {
  display: flex;
}

#dashboard-side-panel {
  flex: 1;
}

#dashboard-main-panel {
  flex: 3;
}

.dashboard-week-of-tasks {
  display: flex;
  flex-direction: column;
}

.dashboard-week-of-tasks > div {
  flex: 1;
}
.dashboard-week-of-tasks > div:not(:first-child) {
  border-block-start: var(--default-border);
}

.dashboard-week-of-tasks > div:not(:first-child) {
  border-inline-start: var(--default-border);
}

.dashboard-day-of-tasks {
  padding: 1em;
}

.dashboard-daily-header {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
}

.dashboard-category-banner {
  display: flex;
  row-gap: 5em;
}

.dashboard-category-header {
  font-size: 1.2em;
  margin-block-start: 0.5em;
}

.dashboard-list-item:not(:last-child) {
  margin-block-end: 0.25em;
}

.completed-task {
  text-decoration-line: line-through;
}

.dashboard-bottom-console {
  display: flex;
  column-gap: 5vh;
}

.dashboard-fav-category-tasks,
.dashboard-unscheduled-tasks,
.dashboard-overdue-tasks {
  border: var(--default-border);
  border-radius: var(--default-border-radius);
  padding: 1em;
}

body {
  margin: 0 10%;
}

.fill-parent {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.div-button {
  cursor: pointer;
}
