package dashboard

import (
  "local/taskmanager/internal/task"
  "time"
  "slices"
)

templ UnscheduledTasks(taskMap map[string]task.TaskList) {
  {{
    var date string
    var sortedCategories []string
    for k := range taskMap {
      if date == "" { date = time.Time(taskMap[k][0].DueDate).Format("2006-01-02") }
      sortedCategories = append(sortedCategories, k)
    }
    slices.Sort(sortedCategories)
  }}
  <div 
    id="dashboard-unscheduled-tasks"
    class="dashboard-unscheduled-tasks dashboard-tasks-container dashboard-droppable-container fill-parent">
    <div class="dashboard-tasks-title-header-container">
      <div class="dashboard-tasks-title-header">Unscheduled</div>
      <div class="dashboard-unscheduled-add-button">@AddTaskButton("/add-task")</div>
    </div>
    <div class="dashboard-categories-container">
    for _, category := range sortedCategories {
      <div class="dashboard-category-container" data-category={category}>@CategoryTasks(taskMap[category], time.Time{}, "")</div>
    }
    </div>
  </div>
}
