package dashboard

import (
  "local/taskmanager/internal/views"
  "time"
)

templ WeekTaskList(pi views.PageInfo) { 
  <div id="dashboard-week-of-tasks" class="fill-parent dashboard-default-borders">
    for i := range 7 {
      <div class="dashboard-day-of-tasks-container">@DayTaskList(pi.WeekOfTasks[(int(pi.StartDay.Weekday()) + i) % 7], pi.WeekCategoryOrderedKeys[(int(pi.StartDay.Weekday()) + i) % 7], time.Now().AddDate(0, 0, i).Unix())</div>
    }
  </div>
}
