package taskinfo

import (
  "local/taskmanager/internal/task"
  "local/taskmanager/internal/views/addtaskform"
  "fmt"
  "time"
)

templ EditTaskInfo(t task.Task) {
  {{
    dueDate := time.Time(t.DueDate) 
    var description string
    if t.Description == "" {
      description = "Description..."
    }
  }}
  <form hx-post="/edit-task" hx-target=".task-info-content" class="task-info-content fill-parent">
    <div class="task-info-header">
      <input type="hidden" name="id" value={t.ID}>
      <input 
        type="text" 
        name="title" 
        value={t.Title} 
        required
        class="task-info-title">
    </div>
    <div class="task-info-sub-header">
      <input 
        type="text" 
        name="category" 
        value={t.Category} 
        class="task-info-category">
      <input 
        type="date" 
        name="due-date" 
        if !t.DueDate.IsZero() {
          value={time.Time(t.DueDate).Format("2006-01-02")} 
        } 
        class="task-info-due-date">
      <input 
        class="optional-input" 
        type="checkbox" 
        name="all-day" 
        hx-get={fmt.Sprintf("/toggle-time/edit-task?id=%d", t.ID)}
        hx-trigger="change" 
        hx-target="#time-input" 
        hx-swap="innerHTML" 
        if t.DueDate.IsZero() || (dueDate.Hour() == 23 && dueDate.Minute() == 59) {
          checked
        }>Any time
      if t.DueDate.IsZero() || (dueDate.Hour() == 23 && dueDate.Minute() == 59) {
        <div id="time-input"></div>
      } else { 
        @addtaskform.TimeInput(t)
      }
      <input 
        type="checkbox" 
        name="recurring" 
        if t.RecurringPeriod != "" {
          value="on"
          checked
        }
        hx-get={fmt.Sprintf("/toggle-recurring/edit-task?id=%d", t.ID)}
        hx-trigger="change" 
        hx-target="#task-info-recurring-period-input" 
        hx-swap="innerHTML">
        if t.RecurringPeriod != "" {
          @RecurringPeriodInput(t)
        } else {
          <div id="task-info-recurring-period-input"></div>
        }
    </div>
    <textarea 
      type="text"
      name="description"
      class="task-info-description"
      placeholder={description}
    >
      {t.Description}
    </textarea>
    <button type="submit">Done</button>
  </form>
}
