body {
  margin: 0 10%;
}

.task-content {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.week-of-tasks {
  display: flex;
  border: 1px solid white;
  border-radius: 15px;
}

.day-of-tasks {
  flex: 1;
  padding: 1em;
}

.day-of-tasks:not(:first-child) {
  border-left: 1px solid white;
}

.overdue-tasks-header,
.tasks-date-header {
  font-size: 1.5em;
}

.task-category-header {
  font-size: 1.2em;
  margin-top: 0.5em;
}

.bottom-console {
  display: flex;
  gap: 5vh;
}

.overdue-tasks,
.fav-category-tasks {
  border: 1px solid white;
  border-radius: 15px;
  padding: 1em;
}

.task-list-item:not(:last-child) {
  margin-block-end: 0.25em;
}
