package views

import "local/taskmanager/internal/task"

templ CategoryTasks(tasks task.TaskList) {
  <div class="fav-category-tasks">
    <div class="overdue-tasks-header">{tasks[0].Category}</div>
    for _, task := range tasks {
      <div class="task-list-item">{task.Title}</div>
    }
  </div>
}
