package views 

import (
  "local/taskmanager/internal/task" 
  "time" 
	"fmt"
)

templ DayTaskList(unixDate int64, tasks task.TaskList) {
  {{var currentCategory string}}

  <div class="day-of-tasks">
    <div class="tasks-date-header">
      {time.Unix(unixDate, 0).Format("Mon Jan 2")}
    </div>
    if len(tasks) > 0 { 
      for _, task := range tasks { 
        if currentCategory != task.Category {
          {{currentCategory = task.Category}}
          <div class="task-category-header">{task.Category}</div>
        }

        @ListItem(task) 
      } 
    }
    <div hx-get={fmt.Sprintf("/add-task-form?due-date=%s", time.Unix(unixDate,0).Format("2006-01-02"))} hx-target="#content" tabindex="0" role="button" style="cursor:pointer;">
        +
    </div>
  </div>
}
