package views 

import "local/taskmanager/internal/task"

templ Index(tasksByDay map[int64]task.TaskList, sortedKeys []int64) {
  <div class="task-content">
    @WeekTaskList(tasksByDay, sortedKeys)
  </div>
}
