package views

templ RecurringPeriodInput() {
  <div id="recurring-period-input">
    <input type="text" name="period-value" required>
    <select name="period-unit" required>
      <option value="days">Days</option>
      <option value="weeks">Weeks</option>
      <option value="months">Months</option>
    </select>
  </div>
}
