package shared

templ Layout(content templ.Component) {
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>

    <!-- HTMX CDN -->
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>

    <!-- main stylesheet -->
    <link rel="stylesheet" href="/static/index.min.css">

    <link rel="icon" type="image/png" href="/static/favicon.png">
  </head>
  <body id="app">
    <h1 
      id="main-title" 
      class="div-button"
      hx-get="/" 
      hx-trigger="click"
      hx-target="#app"
    >Task Manager</h1>

    <div id="content">
      @content
    </div>
    <div id="pop-up"></div>
  </body>
  </html>
}
