package shared

import (
	"local/taskmanager/internal/task"
)

templ RecurringPeriodInput(t task.Task) {
  {{ periodValue, _ := t.PeriodValue() }}
  <div id="task-form-recurring-period-input">
    <input 
      id="task-form-recurring-value"
      type="text"
      name="period-value"
      oninput="updateRecurringUnits(event)"
      if t.RecurringPeriod != "" {
        value={periodValue}
      }
      required>
    <select 
      id="task-form-recurring-unit"
      name="period-unit"
      required>
      <option 
        value="days"
        if t.RecurringPeriod != "" && t.RecurringPeriod[len(t.RecurringPeriod)-2:] == "ys" {
          selected
        }
      >Days</option>
      <option value="weeks"
        if t.RecurringPeriod != "" && t.RecurringPeriod[len(t.RecurringPeriod)-2:] == "ks" {
          selected
        }
      >Weeks</option>
      <option value="months"
        if t.RecurringPeriod != "" && t.RecurringPeriod[len(t.RecurringPeriod)-2:] == "hs" {
          selected
        }
      >Months</option>
    </select>
  </div>
}
