package shared

import (
  "local/taskmanager/internal/task"
  "time" 
)

templ TaskForm(t task.Task, categories []string) {
  {{dueDate := time.Time(t.DueDate)}}
  <form hx-post="/update-task" hx-target="#content" hx-on::load="registerCategorySuggestions()" id="task-form">
    <input id="task-form-id" type="hidden" name="id" value={t.ID}>
    <input 
      id="task-form-title" 
      if t.Title == "" {
        placeholder="Title..." 
      } else {
        value={t.Title}
      }
      type="text" 
      name="title" 
      autofocus
      required
    >

    <textarea 
      id="task-form-description" 
    if t.Description == "" {
      placeholder="Description..."
    } 
      onkeydown="enterSubmitForm(event)"
      class="task-form-optional-input" 
      name="description">
    {t.Description}
    </textarea>

    <input 
      id="task-form-category" 
    if t.Category == "" {
      placeholder="Category..."
    } else {
      value={t.Category}
    }
      class="task-form-optional-input" 
      type="text" 
      name="category" 
    >

    <div id="task-form-category-suggestions">
      for _, category := range categories {
        <div class="task-form-category-suggestion">{category}</div>
      }
    </div>

    <input 
      id="task-form-due-date" 
    if !t.DueDate.IsZero() {
      value={dueDate.Format("2006-01-02")}
    }
      class="task-form-optional-input" 
      type="date" 
      name="due-date"
    >

    <input 
      id="task-form-all-day-toggle" 
    if dueDate.Hour() == 0 && dueDate.Minute() == 0 {
      checked
    }
      class="task-form-optional-input" 
      type="checkbox" 
      name="all-day" 
      hx-get="/toggle-time" 
      hx-trigger="change" 
      hx-target="#task-form-time-input" 
      hx-swap="innerHTML" 
      hx-include="#task-form-id"
    >
    Any time

    <div id="task-form-time-input">
    if dueDate.Hour() != 0 || dueDate.Minute() != 0 {
      @TimeInput(t)
    }
    </div>

    <input 
      id="task-form-recurring-toggle"
    if t.RecurringPeriod != "" {
      checked
    }
      class="task-form-optional-input" 
      type="checkbox" 
      name="recurring" 
      hx-get="/toggle-recurring" 
      hx-trigger="change" 
      hx-target="#task-form-recurring-period-input" 
      hx-swap="innerHTML"
      hx-include="#task-form-id"
    >

    <div id="task-form-recurring-period-input">
    if t.RecurringPeriod != "" {
      @RecurringPeriodInput(t)
    }
    </div>

    <button id="task-form-submit-button" type="submit">Submit</button>

  </form>
}
